@using MyBuddy.Wasm.Components.Core
@inherits WasmComponent

<div class="my-component">
	This component is defined in the <strong>MyBuddy.Wasm.Components</strong> library.
</div>
@code {
	[Parameter]
	public string? Text { get; set; }
}